{% extends "base.html" %} {% block content %}
<h2>Welcome, {{ user.username }}</h2>
<form method="POST">
  {{ form.hidden_tag() }}
  <p>{{ form.bio.label }}<br />{{ form.bio(rows=4, cols=50) }}</p>
  <p>{{ form.github.label }}<br />{{ form.github(size=50) }}</p>
  <p>{{ form.tech_stack.label }}<br />{{ form.tech_stack(size=50) }}</p>
  <p>{{ form.submit() }}</p>
</form>

{% with messages = get_flashed_messages() %} {% if messages %}
<ul>
  {% for message in messages %}
  <li style="color: green">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

<p><a href="{{ url_for('logout') }}">Logout</a></p>
{% endblock %}
